# SPDX-FileCopyrightText: 2023 Slavi Pantaleev
# SPDX-FileCopyrightText: 2025 Suguru Hirahara
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---

- name: Check existence of YOURLS systemd service
  ansible.builtin.stat:
    path: "{{ devture_systemd_docker_base_systemd_path }}/{{ yourls_identifier }}.service"
  register: yourls_service_stat

- when: yourls_service_stat.stat.exists | bool
  block:
    - name: Ensure YOURLS systemd service is stopped
      ansible.builtin.service:
        name: "{{ yourls_identifier }}"
        state: stopped
        enabled: false
        daemon_reload: true

    - name: Ensure YOURLS systemd service doesn't exist
      ansible.builtin.file:
        path: "{{ devture_systemd_docker_base_systemd_path }}/{{ yourls_identifier }}.service"
        state: absent

    - name: Ensure YOURLS base directory doesn't exist
      ansible.builtin.file:
        path: "{{ yourls_base_path }}"
        state: absent
