# SPDX-FileCopyrightText: 2023 Slavi Pantaleev
# SPDX-FileCopyrightText: 2025 Suguru Hirahara
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Check existence of YOURLS systemd service
  ansible.builtin.stat:
    path: "{{ devture_systemd_docker_base_systemd_path }}/{{ yourls_identifier }}.service"
  register: yourls_service_stat

- name: Uninstall YOURLS systemd services and files
  when: yourls_service_stat.stat.exists | bool
  block:
    - name: Ensure YOURLS systemd service is stopped
      ansible.builtin.service:
        name: "{{ yourls_identifier }}"
        state: stopped
        enabled: false
        daemon_reload: true

    - name: Ensure YOURLS systemd service does not exist
      ansible.builtin.file:
        path: "{{ devture_systemd_docker_base_systemd_path }}/{{ yourls_identifier }}.service"
        state: absent

    - name: Ensure YOURLS container network does not exist via community.docker.docker_network
      when: devture_systemd_docker_base_container_network_creation_method == 'ansible-module'
      community.docker.docker_network:
        name: "{{ yourls_container_network }}"
        state: absent
      register: yourls_network_deletion_result

    - name: Ensure YOURLS container network does not exist via ansible.builtin.command
      when: devture_systemd_docker_base_container_network_creation_method == 'command'
      ansible.builtin.command:
        cmd: >-
          {{ devture_systemd_docker_base_host_command_docker }} network rm
          {{ yourls_container_network }}
      register: yourls_network_deletion_result
      changed_when: yourls_container_network in yourls_network_deletion_result.stdout

    - name: Ensure YOURLS path does not exist
      ansible.builtin.file:
        path: "{{ yourls_base_path }}"
        state: absent
