# SPDX-FileCopyrightText: 2023 Slavi Pantaleev
# SPDX-FileCopyrightText: 2025 Suguru Hirahara
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Fail if required YOURLS settings not defined
  ansible.builtin.fail:
    msg: >
      You need to define a required configuration setting (`{{ item }}`).
  when: "vars[item] == ''"
  with_items:
    - yourls_uid
    - yourls_gid
    - yourls_hostname
    - yourls_path_prefix
    - yourls_container_network
    - yourls_environment_variable_user
    - yourls_environment_variable_pass
    - yourls_environment_variable_cookiekey

- name: Run if Traefik is enabled
  when: yourls_container_labels_traefik_enabled | bool
  block:
    - name: Fail if required YOURLS Traefik settings not defined
      ansible.builtin.fail:
        msg: >-
          You need to define a required configuration setting (`{{ item }}`).
      when: "vars[item] == ''"
      with_items:
        - yourls_container_labels_traefik_hostname
        - yourls_container_labels_traefik_path_prefix

    # We ensure it doesn't end with a slash, because we handle both (slash and no-slash).
    # Knowing that `yourls_container_labels_traefik_path_prefix` does not end with a slash
    # ensures we know how to set these routes up without having to do "does it end with a slash" checks elsewhere.
    - name: Fail if yourls_container_labels_traefik_path_prefix ends with a slash
      ansible.builtin.fail:
        msg: >-
          yourls_container_labels_traefik_path_prefix (`{{ yourls_container_labels_traefik_path_prefix }}`) must either be `/` or not end with a slash (e.g. `/yourls`).
      when: "yourls_container_labels_traefik_path_prefix != '/' and yourls_container_labels_traefik_path_prefix[-1] == '/'"
